# Bytes
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.spec
*.exe

# Installer logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local configuration
.kruti_dev_converter/
client_id.txt

# Editor directories
.idea/
.vscode/
*.swp
